body {
  font-family: 'Times New Roman','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

.App {
  text-align: center;
  background-color: #E7EDDB;
  min-height: 100vh;
	background-image:
	 radial-gradient(#feb159 1px, transparent 1px);
	background-size: 20px 20px;
}

.App-logo {
  height: 40vmin;
}

.Text {
  color: #501307;
}

.App-header {
  position: fixed;
  background: linear-gradient(to bottom, #fceda4, #E7EDDB);
  width: 100vw;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Header-bottun {
  outline: none;
  height: 90px;
  width: 90px;
  background: 0%;
  font-size: 20px;
  border-style: none;
}

.Header-bottun:hover {
  text-decoration: underline;
}

.Content {
  margin-right: auto;
  margin-left : auto;
  padding-top: 90px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Content-box {
  padding-bottom: 1em;
  background: none;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Content-box p {
  margin: 0;
  padding: 0;
}

.Content-title {
  font-size: 20px;
  font-weight: bold;
}

.topic {
  font-size: 18px;
  margin-top: 2em;
}

.Link-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 262px;
  margin-left: auto;
  margin-right: auto;
}

.twitter-icon {
  height: 45px;
  width: 45px;
}

.qiita-icon {
  height: 38px;
  width: 38px;
}

.github-icon {
  height: 45px;
  width: 45px;
}

.hatena-icon {
  height: 45px;
  width: 45px;
}

